name: Publish Artifact

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Check the version is unique
        uses: ./.github/actions/check-version
        with:
          repo-username: ${{ secrets.NTRUBKIN_NEXUS_DEATH_ANGEL_USERNAME }}
          repo-password: ${{ secrets.NTRUBKIN_NEXUS_DEATH_ANGEL_PASSWORD }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release
      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release
      - name: Pack
        run: dotnet pack UdpFramework/UdpFramework.csproj --no-restore --no-build --configuration Release
      - name: Push to Nexus
        run: dotnet nuget push UdpFramework/bin/Release/**.nupkg --source https://nexus.ntrubkin.ru/repository/nuget-death-angel/ --api-key ${{ secrets.NTRUBKIN_NEXUS_DEATH_ANGEL_NUGET_API_KEY }}

